{%extends 'sidebar.html'%}
{%block body%}
<h1>please add expense here</h1>

<form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="j9Cts351BPvJGzqBsT2iXACdRo11O7VyxREBCesy5VlTDZYPAfFaNqZ0HWNtmmqZ">
    <table border="1">
        <tr>
    <th><label for="id_expense">Expense:</label></th>
    <td>
      
      <input type="number" name="expense" required id="id_expense">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_expense_type">Expense type:</label></th>
    <td>
      
      <input type="text" name="expense_type" maxlength="30" required id="id_expense_type">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_expense_date">Expense date:</label></th>
    <td>
      
      <input type="text" name="expense_date" required id="id_expense_date">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_description">Description:</label></th>
    <td>
      
      <textarea name="description" cols="40" rows="10" maxlength="300" required id="id_description">
</textarea>
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_User">User:</label></th>
    <td><input type="text" value="{{user}}"></td>
  </tr>
        <td><input type="submit" value="save"></td>
        <td><input type="reset" value="reset"></td>
    </table>
</form>
{%endblock%}