{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<div class="side">
    {%if user.is_authenticated%}
    <h2><a href="{%url 'incomeapp:inc'%}">addincome</a></h2>
    <h2><a href="{%url 'expenseapp:exep'%}">addexpense</a></h2>
    <h2><a href="{%url 'incomeapp:list1'%}">incomelist</a></h2>
    <h2><a href="{%url 'expenseapp:list2'%}">expenselist</a></h2>
    <h2><a href="{%url 'account:logout'%}">logout</a></h2>
    <h2><a href="">edit_profile</a></h2>
    {%else%}
    <h2><a href="{%url 'accountapp:reg'%}">register</a></h2>
    <h2><a href="{%url 'accountapp:login'%}">login</a></h2>
    {%endif%}
    <h2><a href="">Home</a></h2>
    <h2><a href="">about_us</a></h2>
  
</div>
<div class="main">
    {%block body%}
    {%endblock%}

</div>