{%include 'navbar.html'%}

<h1>Cartlist</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Owner name</th>
        <th>Property Price</th>
        <th>Bedroom</th>
        <th>Username</th>
        <th>Payment</th>
        <th>Action</th>
    </tr>
    {%for i in cl%}
    <tr>
        <td>{{i.product.id}}</td>
        <td>{{i.product.owner_name}}</td>
        <td>{{i.product.price}}</td>
        <td>{{i.product.bhk}}</td>
        <td><video src="{{i.product.img}}" controls width="300px" hieght="50px"></video></td>
        <form action="">
        <td><button type="submit" style="width: 150px; height: 50px; font-size: 16px;" class="btn btn-success btn-block">Registration fees</button></td>
    </form>
        <td><a href="delete1/{{i.id}}">Delete</a></td>
    </tr>
    {%endfor%}
</table>